@page "/admin"
@using global::MediatR
@attribute [Authorize(Roles = "Admin")]
@inject IMediator Mediator

<h3>Administration</h3>

<EditForm Model="@RequestModel" OnValidSubmit="@HandleValidSubmitAsync">
    <DataAnnotationsValidator/>
    <ValidationSummary/>

    <ul class="d-flex flex-column justify-content-start align-items-start w-100">
        <li class="nav-item px-3">
            <MudCheckBox @bind-Checked="RequestModel.CalculateZeroHourWorkDays">Calculate Zero Hour Days</MudCheckBox>
        </li>
        <li class="nav-item px-3">
            <MudCheckBox @bind-Checked="RequestModel.RecalculateAllMyWorkDays">Recalculate all my work days</MudCheckBox>
        </li>
        <li class="nav-item px-3">
            <MudCheckBox @bind-Checked="RequestModel.RecalculateAllUsersHours">Recalculate all user's work days</MudCheckBox>
        </li>
        <li class="nav-item px-3">
            <MudCheckBox @bind-Checked="RequestModel.RecalculateAllWorkMonths">Recalculate all work months</MudCheckBox>
        </li>
    </ul>
    <div class="mt-4">
        <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled">Run Batch Tasks</MudButton>
    </div>
</EditForm>

<div class="container">
  <MudText Class="mt-5 text-left" Style="@_errorTextStyle">@ResponseModel.Message</MudText>
</div>


