@page "/timer"

@using WorkTimer.Models
@inject WorkTimer.Contracts.IWorkingDayRepository workingDayRepo
@inject NavigationManager NavigationManager

<h1>Timer</h1>

<table class="table table-striped table-hover table-sm">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Day of Week</th>
            <th scope="col">Date</th>
        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < workingDays.Count; i++) {
            <tr onclick="location.href='workingday/@workingDays[i].Id'">
                <th scope="row">@workingDays[i].Id</th>
                <td>@workingDays[i].Date.DayOfWeek.ToString()</td>
                <td>@workingDays[i].Date.ToString("dd.MM.yyyy")</td>
            </tr>
        }
    </tbody>
</table>

@code {
    int currentCount = 0;
    List<WorkingDay> workingDays = new List<WorkingDay>();

    protected override async Task OnInitializedAsync() {
        workingDays = (await workingDayRepo.GetAll()).ToList();
        await base.OnInitializedAsync();
    }
}
